@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Oswald:wght@200;300;400;500;600;700&display=swap');



.filter_sort{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 0;
    align-items: center;
}

.h1 {
    font-family: 'Freehand', cursive;
    font-size: 40px;
}

