
.inputContainer{
    display: flex;
    justify-content: center
}  

.input{
    border: 2px solid black;
    border-radius: 60px;
    font-size: 40px;
    background: white;
    height: 98px;
    
}
@media (max-width: 1440px) {
    .input {
        
        width: 88%;
        height: 80px;
        font-size: 30px;
    }
}

@media (max-width: 1024px){
    .input {
        margin-top: -40px;
        width: 80%;
        height: 50px;
        font-size: 20px;
        margin-bottom: -10px;
    }
}

@media (max-width: 414px) {
    .input {
        width: 84%;
        height: 64px;
        margin-top: 20px;
         
        
        font-size: 30px;
    }
}




